[submodule "repo/umbrellaplug.github.io"]
	path = repo/umbrellaplug.github.io
	url = https://github.com/umbrellaplug/umbrellaplug.github.io.git
[submodule "repo/team-crew.github.io"]
	path = repo/team-crew.github.io
	url = https://github.com/team-crew/team-crew.github.io.git
[submodule "repo/tikipeter.github.io"]
	path = repo/tikipeter.github.io
	url = https://github.com/Tikipeter/tikipeter.github.io.git
[submodule "repo/repository.cocoscrapers"]
	path = repo/repository.cocoscrapers
	url = https://github.com/CocoJoe2411/repository.cocoscrapers.git
